# secrets
dbsettings.json

# build
bin/
obj/

# visual studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VSCode
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# logs
*.log

# NuGet
packages/
*.nupkg

# MAUI / Android
*.apk
*.aab
*.keystore
*.jks
